.flex-images { 
    --image-gap: 4px;
    overflow: hidden; 
    margin-left: calc( var(--image-gap) * -1 ); 
    margin-right: calc( var(--image-gap) * -1 ); 
}
.flex-images .item { 
    float: left; 
    margin: var(--image-gap); 
    border: 0; 
    box-sizing: content-box; 
    overflow: hidden; 
    position: relative;
}
.flex-images .item img { 
    display: block;
    width: auto;
    height: 100%;
}
